{% load staticfiles %}
<html>
    <head>
        <title>toNieNauka</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

      <div class="page-header">
          <h1><a href="/">toNieNauka</a></h1>
      </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">

        {% for wpis in wpisy %}

              <div class="wpis">
                <h1><a href="">{{ wpis.tytul }}</a></h1>
                  <div class="date">
                    <h5>opublikowany: {{ wpis.data_publikacji }}</h5>
                  </div>
                  <p>{{ wpis.tresc|linebreaksbr }}</p>
                </div>


                {% endfor %}
              </div>
            </div>
          </div>

    </body>
</html>
